
<nav class="fixed-top-bar">
  <div class="top-bar container">
    <ul class="left">
      <li><a href="#"><i class="ion-social-facebook inline-icon"></i></a></li>
      <li><a href="#"><i class="ion-social-instagram-outline inline-icon"></i></a></li>
      <div style="clear:both;"></div>
    </ul>
    <ul class="right">
      <li><a href="<%= user_cart_items_path %>"><i class="material-icons inline-icon margin-right">shopping_cart</i>購物車</a></li>
      <% if user_signed_in? %>
        <li><a>Hi, <%= current_user.name %></a></li>
        <li><%= link_to '登出', destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><a href="<%= new_user_session_path %>">登入</a></li>
      <% end %>
    </ul>
  </div>
</nav>
<nav class="fixed-nav">
  <div class="nav-wrapper container">
    <a href="<%= root_path %>" class="brand-logo">Colorgy Shop</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="<%= products_path %>">商品</a></li>
      <li><a href="<%= posts_path %>">文章</a></li>
      <li class="navbar-search-form-list">
        <form class="navbar-search-form">
          <input type="text" class="navbar-search" id="navbar-search" />
          <button type="submit"><i class="material-icons">search</i></button>
        </form>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% if user_signed_in? %>
        <li><a href="<%= user_cart_items_path %>"><i class="material-icons inline-icon margin-right">shopping_cart</i>購物車</a></li>
      <% else %>
        <li><a href="<%= new_user_session_path %>">登入</a></li>
      <% end %>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $(document).ready(function(){
    $(".button-collapse").sideNav();
  })

</script>
