<div class="container-fluid">
	<div class="row">
		<div class="col s12">
			<h4 class="admin-page-title">文章總覽</h4>
			<a href="#" class="btn">新增文章</a>

			<!-- TABLE ACTION BAR -->
			<div class="admin-table-action-bar row no-margin-bottom">
				<div class="state-select-block col m12 s12 no-padding">
					<ul>
						<li><a id="post-all">全部</a></li>
						/
						<li><a id="post-state-deleted">回收桶</a></li>
					</ul>
				</div>
			</div>
			<!-- TABLE ACTION BAR END -->

			<div class="admin-table-container">
				<div class="row">
					<div class="search-box col m8 s12 no-padding">
						<%= form_tag(admin_posts_path, :method => "get") do %>
							<%= text_field_tag :keyword, params[:keyword], class: "search-box-input", placeholder: "標題.." %>
							<button type="submit" class="btn search-box-submit" id="search-box-submit">搜尋文章</button>
						<% end %>
					</div>
					<div class="col m4 s12 no-padding">
						<%= paginate @posts %>
					</div>
				</div>
	      <table class="admin-table">
	        <thead>
	          <tr>
	              <th data-field="name">標題</th>
	              <th data-field="post_category">分類</th>
	              <th data-field="updated_at">日期</th>
	          </tr>
	        </thead>

	        <tbody>
	        	<% @posts.each do |p| %>
		          <tr>
		            <td><a href="<%= edit_admin_post_path(p) %>"><%= p.title %></a></td>
		            <td><%= p.post_category.name %></td>
		            <td><%= p.updated_at %></td>
		          </tr>
	        	<% end %>
	        </tbody>
	      </table>
	      <%= paginate @posts %>
			</div>

		</div>
	</div>
</div>
