
	<p>名稱</p>
	<%= f.text_field :name %>
	<p>品牌</p>
	<%= f.collection_select(:brand_id, Brand.all, :id, :name, {}, {:class=> 'browser-default'}) %>
	<p>簡述</p>
	<%= f.text_field :breif %>
	<p>詳細內容</p>
	<%= f.text_field :description %>
	<p>貨號</p>
	<%= f.text_field :sku %>
	<p>定價</p>
	<%= f.text_field :list_price %>
	<p>售價</p>
	<%= f.text_field :sale_price %>
	<p>庫存</p>
	<%= f.number_field :stock %>
	<p>重量</p>
	<%= f.text_field :weight %>
	<p>高度</p>
	<%= f.text_field :height %>
	<p>長度</p>
	<%= f.text_field :length %>
	<p>寬度</p>
	<%= f.text_field :width %>
	<%= f.submit "Submit", class:'btn' %>
