<div class="container-fluid">
	<div class="row">
		<div class="col s12">
			<h4 class="admin-page-title">商品總覽</h4>
			<a href="<%= new_admin_product_path %>" class="btn">新增商品</a>


			<!-- TABLE ACTION BAR -->
			<div class="admin-table-action-bar row no-margin-bottom">
				<div class="state-select-block col m6 s12 no-padding">
					<ul>
						<li><a id="product-all">全部</a></li>
						/
						<li><a id="product-state-deleted">回收桶</a></li>
						/
						<li><a id="product-state-no-stock">已缺貨</a></li>
					</ul>
				</div>
			</div>
			<!-- TABLE ACTION BAR END -->

			<div class="admin-table-container">
				<div class="row">
					<div class="col m8 s12 no-padding">
						<%= form_tag(admin_products_path, :method => "get") do %>
							<%= select_tag 'brand_id', options_from_collection_for_select(@brands, 'id', 'name'), include_blank: "全部品牌", class: 'browser-default admin-table-select' %>
							<%= select_tag "product_category_id", options_from_collection_for_select(@product_categories, "id", "name"), include_blank: "全部分類", class: 'browser-default admin-table-select' %>
							<div class="search-box">
								<%= text_field_tag :keyword, params[:keyword], class: "search-box-input", placeholder: "請輸入關鍵字.." %>
								<button type="submit" class="btn search-box-submit" id="search-box-submit">搜尋商品</button>
							</div>
						<% end %>
					</div>
					<div class="col m4 s12 no-padding">
						<%= paginate @products %>
					</div>
				</div>
	      <table class="admin-table">
	        <thead>
	          <tr>
	              <th data-field="name">名稱</th>
	              <th data-field="sku">貨號</th>
	              <th data-field="price">價格</th>
	              <th data-field="brand">品牌</th>
	              <th data-field="updated_at">日期</th>
	              <th data-field="actions">操作</th>
	          </tr>
	        </thead>

	        <tbody>
	        	<% @products.each do |p| %>
		          <tr>
		            <td><a href="<%= edit_admin_product_path(p) %>"><%= p.name %></a></td>
		            <td><%= p.sku %></td>
		            <td>
		            	定價：<%= p.list_price %><br>
		            	售價：<%= p.sale_price %>
		            </td>
		            <td>
		            	<% if p.brand %>
		            		<%= p.brand.name %>
		            	<% else %>
		            		無品牌
		            	<% end %>
		            </td>
		            <td><%= p.updated_at %></td>
		            <td>
		            	<a href="<%= edit_admin_product_path(p)  %>" class="icon-btn"><i class="material-icons">edit</i>編輯</a>
									<%= button_to admin_product_path(p), :method => :delete, :class=>'icon-btn delete' , :confirm => "確定要刪除嗎？" do %>
										<i class="material-icons">delete</i>刪除
									<% end %>
		            </td>
		          </tr>
	        	<% end %>
	        </tbody>
	      </table>
	      <%= paginate @products %>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
	/*
	$('#search-box-submit').click(function(){
		var keyword = $('#search-box-input').val();
		var reqURL = '<%= request.url %>?' + 'keyword=' + keyword ;
		window.location.href = reqURL;
	})
	*/
</script>
